<h1>Bookings</h1>
<div id="bookings">
  <% @booking.each do | booking| %>
  <%= render "form", booking: @booking %>
    <p>
    <%= link_to "Show this Booking", booking_path(booking) %>
    </p>
  <% end %>

</div>
<%= link_to "New Booking", new_booking_path %>
