<h1>Your upcoming space events</h1>
<div>
  <% @bookings.each do |booking| %>
  <% spaceship = Spaceship.find(booking.spaceship_id)%>
  <h3><%= spaceship.name%>
  <%= link_to "View details", booking_path(booking), class:"btn btn-primary"  %>
  <% end %>
</div>
