<%# Kill this view %>

<h1 class="p-3">Your upcoming space events</h1>

<div class="d-flex justify-content-center align-items-center overflow-auto" style="max-height: 350px;">
  <div class="d-flex flex-column my-1">
    <% @bookings.each do |booking| %>
      <% spaceship = Spaceship.find(booking.spaceship_id) %>
      <div class="d-flex justify-content-between align-items-center">
        <h3 class="mt-1 mx-3"><%= spaceship.name %></h3>
        <button class="btn btn-secondary mt-1 toggle-details">Toggle Details</button>
      </div>
      <div class="details-box" style="display: none;">
        <p><strong>Spaceship:</strong> <%= spaceship.name %></p>
      </div>
    <% end %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $(".toggle-details").click(function() {
      $(this).parent().next(".details-box").slideToggle();
    });
  });
</script>
