<%# Kill this view %>

<h2>We're glad you want to make a booking for</h1>
<h1><%= @spaceship.name %></h1>
<h2>Please fill out the form to proceed</h2>

<p>
  <%= render "form", booking: @booking %>
</p>
