<%# Kill this view %>

<h1>Available Spaceships</h1>
<% @spaceships.each do | spaceship |  %>
<h2>Spaceship: <%= spaceship.name  %></h2>
<h3>Spaceship: <%= spaceship.model  %></h3>
<h3>Spaceship: <%= spaceship.daily_rate  %></h3>
<p><%= link_to "View details", spaceship_path(spaceship), class:"btn btn-primary"%>
<% end %>
