// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Google Fonts

@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Black+Ops+One&family=Geologica:wght@200&family=Montserrat:wght@200&display=swap');

::-webkit-scrollbar {
  width: 0px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: transparent; /* Hide the track */
}

::-webkit-scrollbar-thumb {
  background: transparent; /* Hide the thumb */
}

// code below incase we need to add gradient

// body {
//   background-image: linear-gradient(
//     rgba(0, 0, 0, 0.4),
//     rgba(10, 10, 10, 0.4)
//   ), url('backgrounds/wallpaper.jpg');
//   background-size: cover;
//   background-position: center center;
// }

body {
  background-image: url('backgrounds/wallpaper.jpg');
  background-size: cover;
  background-position: center center;
}

.spaceship-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}
.card {
  box-shadow: 2px 2px 4px rgb(118, 120, 121);
}

// change all fonts
h1, h2, h3, h4, h5, h6, .daily-rate, .nav-link, form, a {
  font-family: 'Black Ops One', sans-serif;
}
p {
  font-family: 'ADLaM Display', sans-serif;
}

// hover & transition effects for all links and buttons
a {
  text-decoration: none;
  color: #EEEEEE;
  transition: 0.5s;
}
input[type="submit"][name="commit"] {
  color: #EEEEEE;
  transition: 0.5s;
}
a:hover, input[type="submit"][name="commit"]:hover {
  color: #D65A31;
}
/* Apply styles to link_to elements */
.space-card, .nav-link, .navbar-brank {
  transition: transform 0.3s ease; /* Smooth transition effect */
}
.nav-link, .btn-secondary {
  color: white;
  transition: 0.5s;
  &:hover {
    color: #D65A31
  };
}
.btn {
  border-radius: 15px;
  &:hover {
    background-color: white;
  };
}
/* Scale up the card on hover */
.space-card:hover, .nav-link:hover, .navbar-brand:hover {

  transform: scale(1.05); /* Increase the scale factor for desired effect */
}

// Current Spaceship background photo
.show-page-content {
  background-size: cover;
  background-position: center;
  min-height: 95vh;
  min-width: 150vh;
  border-radius: 10px;
  text-shadow: 2px 2px 3px black;
}

// Current Spaceship background photo dashboard
.bookings-page-content {
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  text-shadow: 2px 2px 3px black;
}

// all forms need padding
.form-inputs {
  padding: 20px;
}
.simple_form {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

// dim placeholder form text
.form-control::placeholder {
  color: #999999; /* Choose an even lighter color here */
  opacity: 0.8;   /* Adjust the opacity to make it more faded */
  text-align: center;
}
.form-control {
  border: none;
}

// search bar
.search-bar {
  border-radius: 20px 0 0 20px;
}
.search-button {
  border-radius: 0 20px 20px 0;
  color: white;
  margin-left: -1px;
}
